.restaurant-list {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    flex-wrap: wrap;
  }

  .restaurant-card {
    background-color: #f8f9fa;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    width: 250px;
    padding: 20px;
    margin: 20px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .restaurant-image {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 10px;
    border-radius: 8px;
  }


  .restaurant-name {
    font-size: 20px;
    margin: 10px 0;
  }
  
  .restaurant-description {
    font-size: 14px;
    color: #777;
    margin-bottom: 15px;
  }
  
  .view-menu-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .view-menu-button:hover {
    background-color: #0056b3;
  }

  button.add-restaurant-button {
    margin-top: 20px;
    background-color: #2196F3;
    color: white;
  }
  
  button.add-restaurant-button:hover {
    background-color: #0b7dda;
  }
  
  /* Style for the 'Save' button */
  button.save-button {
    background-color: #FFA500;
  }
  
  button.save-button:hover {
    background-color: #ff8c00;
  }